img {
  border: 1px solid #ddd;
  margin: 0 0 3rem 0;
  image-orientation: from-image;
  width: 100%;
}

.hero-container {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container h1 {
  font-weight: bold;
}

.hero-container-subtext p {
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 0;
}

.footer-text {
  font-weight: lighter;
  font-size: 0.9rem;
}

.button-row {
  margin: 2rem 0 2rem 0;
}

.scatter-container {
  width: 600px;
  height: 150px;
}
